.btn-toolbar {
    margin-bottom: 15px;
}

.ng-touched.ng-invalid {
    border-color: red;
}

.time-input {
    width: 60px;
    display: inline-block;
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}