<table class="table table-striped">
    <tr>
        <th>{{ 'ROOM' | translate }}</th>
        <th>{{ 'ROOM_CAPACITY' | translate }}</th>
        <th>{{ 'ROOM_TYPE' | translate }}</th>
        <th ng-if="hideButtons != true">{{ 'SCHEDULE' | translate }}</th>
    </tr>
    <tr ng-repeat="room in rooms | orderBy:'[building, roomNumber]'">
        <td><a ng-href="#/rooms/{{room.id}}">{{room.readableString}}</a></td>
        <td>{{room.seats}}</td>
        <td>{{room.type | translate }}</td>
        <td ng-if="hideButtons != true">
            <a class="btn btn-default btn-xs" ng-href="#/rooms/{{room.id}}">
                <span class="glyphicon glyphicon-info-sign"></span> {{ 'SHOW' | translate }}
            </a>
            <a class="btn btn-default btn-xs" ng-href="rest/rooms/{{room.id}}/schedule.pdf" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span> {{ 'DOWNLOAD_PDF' | translate }}
            </a>
        </td>
    </tr>
</table>