<div class="form-group">
    <label for="building" class="col-sm-2 control-label">{{ 'BUILDING' | translate }}</label>

    <div class="col-sm-10">
        <select ng-model="model.room.building" placeholder="Choose a building" class="form-control"
                id="building" name="building"
                autofocus required>
            <option value="" disabled selected>{{ 'SELECT_BUILDING' | translate }}</option>
            <option ng-repeat="building in model.buildings" value="{{ building }}">{{ building }}</option>
        </select>
        <span style="color:red" ng-show="form.building.$dirty && form.building.$invalid">Error</span>
        <span ng-show="form.building.$error.required">Username is required.</span>
    </div>
</div>
<div class="form-group">
    <label for="roomNumber" class="col-sm-2 control-label">{{ 'ROOM_NBR' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="model.room.roomNumber"
               class="form-control"
               id="roomNumber" name="roomNumber"
               min="1" max="999" step="1" required/>
        <span style="color:red" ng-show="roomForm.roomNumber.$dirty && form.roomNumber.$invalid">Please enter a number between 1 and 999</span>
        <span ng-show="roomForm.roomNumber.$touched && form.roomNumber.$error.required">Room number is required.</span>
    </div>
</div>
<div class="form-group">
    <label for="capacity" class="col-sm-2 control-label">{{ 'ROOM_CAPACITY'| translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="model.room.seats"
               class="form-control"
               id="capacity" name="capacity"
               min="1" max="999" step="1" required/>
    </div>
</div>
<div class="form-group">
    <label for="roomType" class="col-sm-2 control-label">{{ 'ROOM_TYPE' | translate }}</label>

    <div class="col-sm-10">
        <select ng-model="model.room.type" placeholder="Choose a room type" class="form-control" id="roomType" required>
            <option ng-repeat="roomType in model.roomTypes" value="{{roomType}}">{{ roomType | translate }}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" ng-disabled="roomForm.$invalid"/>
        <a href="#/rooms" class="btn btn-default">{{ 'CANCEL' | translate }}</a>
    </div>
</div>

<!--pre>{{ model.room | json }}</pre-->