<section>
    <h2>{{ 'EDIT_COURSE' | translate }} {{model.course.name}}</h2>
    <hr>

    <form class="form-horizontal" role="form" name="courseForm" novalidate>
        <div ng-if="formState == 1" ng-include="'js/course/edit-course/form-step1-editCourse-template.html'"></div>
        <div ng-if="formState == 2" ng-include="'js/course/edit-course/form-step2-conflicts-template.html'"></div>
        <div ng-if="formState == 3" ng-include="'js/course/edit-course/form-step3-ignorable-template.html'"></div>
        <div ng-if="formState == 4" ng-include="'js/course/edit-course/form-step4-success-template.html'"></div>
    </form>
</section>