<section>
    <h2>Rooms</h2>
    <table class="table">
        <tr>
            <th>Building</th>
            <th>Room Number</th>
            <th>Seats</th>
            <th>Projector present?</th>
        </tr>
        <tr ng-repeat="room in model.rooms">
            <td>{{room.building}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.seats}}</td>
            <td>{{room.beamerPresent}}</td>
        </tr>
    </table>

    <a href="#/rooms/create" class="btn btn-default">Raum hinzufügen</a>
    <button ng-click="listRoomsCtrl.logModel();" class="btn btn-default">
        Log Model
    </button>

</section>