<!-- COURSE NAME -->
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">{{ 'COURSE_NAME' | translate }}</label>

    <div class="col-sm-10">
        <input type="text" ng-model="model.course.name" class="form-control" id="name" required autofocus/>
    </div>
</div>

<!-- COURSE TYPE -->
<div class="form-group">
    <label for="type" class="col-sm-2 control-label">{{ 'COURSE_TYPE' | translate }}</label>

    <div class="col-sm-10">
        <select ng-model="model.course.type" placeholder="Choose a type" class="form-control" id="type">
            <option value="" disabled selected>{{ 'SELECT_COURSE_TYPE' | translate }}</option>
            <option ng-repeat="courseType in model.courseTypes" value="{{courseType}}">{{ courseType | translate }}
            </option>
        </select>
    </div>
</div>
{{  }}
<!-- TUTOR -->
<div class="form-group">
    <label for="tutor" class="col-sm-2 control-label">{{ 'TUTOR' | translate }}</label>

    <div class="col-sm-10">
        <select ng-model="model.course.tutor" class="form-control" id="tutor"
                ng-options="tutor.readableString for tutor in model.tutors track by tutor.id">
        </select>
    </div>
</div>

<div class="form-group"><!-- Only show if course type not seminar -->
    <label class="col-sm-2 control-label">{{ 'PARTICIPANTS_OPTIONAL' | translate }}</label>

    <div class="col-sm-10">
        <div ng-if="model.course.type == 'SEMINAR'"><p>{{ 'SEMINARS_NO_PARTICIPANTS' | translate }}</p></div>
        <div ng-if="model.course.type != 'SEMINAR'" class="btn-toolbar">
            <label for="{{centuria.readableString}}"
                   class="btn btn-default"
                   ng-repeat="centuria in model.centurias | orderBy:'[-year, -programm, letter]'"
                    >
                <input
                        type="checkbox" ng-model="centuria.selected" id="{{centuria.readableString}}"
                        ng-disabled="model.course.type == 'SEMINAR'"> {{centuria.readableString}}
            </label>
        </div>
    </div>
</div>

<pre>{{model.course | json }}</pre>