<!DOCTYPE html>
<html ng-app="ttmg">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'APP_NAME' | translate }}</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Bower Components -->
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="application/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="application/javascript" src="bower_components/angular-translate/angular-translate.js"></script>
    <script type="application/javascript" src="bower_components/jquery-dateFormat/dist/jquery-dateFormat.js"></script>

    <!-- Application files -->
    <script type="application/javascript" src="js/application.js"></script>
    <script type="application/javascript" src="js/translations.js"></script>
    <script type="application/javascript" src="js/routes.js"></script>

    <!-- Centuria -->
    <script type="application/javascript" src="js/centuria/centuria-resource-factory.js"></script>
    <script type="application/javascript" src="js/centuria/create-centuria/create-centuria-controller.js"></script>
    <script type="application/javascript" src="js/centuria/list-centurias/list-centurias-controller.js"></script>
    <script type="application/javascript" src="js/centuria/view-centuria/view-centuria-controller.js"></script>
    <script type="application/javascript" src="js/centuria/centuria-table/centuria-table-directive.js"></script>

    <!-- Course -->
    <script type="application/javascript" src="js/course/course-resource-factory.js"></script>
    <script type="application/javascript" src="js/course/create-course/create-course-controller.js"></script>
    <script type="application/javascript" src="js/course/edit-course/edit-course-controller.js"></script>
    <script type="application/javascript" src="js/course/list-courses/list-courses-controller.js"></script>
    <script type="application/javascript" src="js/course/view-course/view-course-controller.js"></script>

    <!-- Room -->
    <script type="application/javascript" src="js/room/room-resource-factory.js"></script>
    <script type="application/javascript" src="js/room/create-room/create-room-controller.js"></script>
    <script type="application/javascript" src="js/room/list-rooms/list-rooms-controller.js"></script>
    <script type="application/javascript" src="js/room/view-room/view-room-controller.js"></script>

    <script type="application/javascript" src="js/room/room-table/room-table-directive.js"></script>
    <script type="application/javascript" src="js/room/room-enumeration/room-enumeration-directive.js"></script>
    <script type="application/javascript" src="js/room/room-filter/room-filter-directive.js"></script>

    <!-- Tutor -->
    <script type="application/javascript" src="js/tutor/tutor-resource-factory.js"></script>
    <script type="application/javascript" src="js/tutor/create-tutor/create-tutor-controller.js"></script>
    <script type="application/javascript" src="js/tutor/list-tutors/list-tutors-controller.js"></script>
    <script type="application/javascript" src="js/tutor/view-tutor/view-tutor-controller.js"></script>

    <!-- Events -->
    <script type="application/javascript" src="js/event/event-resource-factory.js"></script>
    <script type="application/javascript"
            src="js/event/create-course-events/create-course-events-controller.js"></script>
    <script type="application/javascript" src="js/event/edit-event/edit-event-controller.js"></script>
    <script type="application/javascript" src="js/event/event-table/event-table-directive.js"></script>

    <!-- Utils -->
    <script type="application/javascript" src="js/utils/autofocus-directive.js"></script>
    <script type="application/javascript" src="js/utils/capitalize-filter.js"></script>
    <script type="application/javascript" src="js/utils/change-language-controller.js"></script>

    <!-- Constants -->
    <script type="application/javascript" src="js/utils/constants/buildings-constant.js"></script>
    <script type="application/javascript" src="js/utils/constants/course-types-constant.js"></script>
    <script type="application/javascript" src="js/utils/constants/room-types-constant.js"></script>
    <script type="application/javascript" src="js/utils/constants/study_programs-constant.js"></script>

    <!-- Common -->
    <script type="application/javascript"
            src="js/common/delete-entity-model-directive/delete-entity-modal-directive.js"></script>


</head>

<body>

    <div class="container">

        <h1><a href="#/">{{ 'APP_NAME' | translate }}</a></h1>


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col col-sm-10">
                        <a href="#/rooms" class="btn btn-default">{{ 'SHOW_ROOMS' | translate }}</a>
                        <a href="#/tutors" class="btn btn-default">{{ 'SHOW_TUTORS' | translate }}</a>
                        <a href="#/centurias" class="btn btn-default">{{ 'SHOW_CENTURIAS' | translate }}</a>
                        <a href="#/courses" class="btn btn-default">{{ 'SHOW_COURSES' | translate }}</a>
                    </div>
                    <div class="col col-sm-2" ng-controller="changeLanguageController">
                        <div class="btn-toolbar" role="toolbar">
                            <button ng-click="changeLanguage('de')" class="btn btn-default"
                                    ng-hide="currentLanguage == 'de'">{{ 'GERMAN' | translate }}
                            </button>
                            <button ng-click="changeLanguage('en')" class="btn btn-default"
                                    ng-hide="currentLanguage == 'en'">{{ 'ENGLISH' | translate }}
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" ng-view>
            </div>
        </div>
    </div>
</body>
</html>