<section>
    <h2>{{ 'CREATE_NEW_CENTURIA' | translate }}</h2>
    <hr>

    <div ng-if="entitySuccesfullyCreated" class="alert alert-success" role="alert">
        <p>{{ 'CENTURIA_CREATION_SUCCESS' | translate }}
            <a ng-href="#/centurias/{{messageData.id}}" class="alert-link">{{messageData.readableString}}</a>
        </p>
    </div>
    <div ng-if="entitySuccesfullyCreated == false" class="alert alert-danger" role="alert">
        <p>{{ 'CENTURIA_CREATION_FAILURE' | translate }}</p>

        <p>{{ messageData.localizableMessage | translate }}</p>

        <p>{{ messageData.message }}</p>
    </div>

    <form class="form-horizontal" role="form" ng-submit="addCenturia()" novalidate name="centuriaForm">
        <div ng-include="'js/centuria/create-centuria/create-centuria-form-template.html'"></div>
    </form>
</section>
