<div class="form-group">
    <label for="program" class="col-sm-2 control-label">{{ 'PROGRAM' | translate }}</label>

    <div class="col-sm-10">
        <select ng-model="centuria.program" placeholder="Choose a study program" class="form-control" id="program"
                autofocus>
            <option value="" disabled selected>{{ 'SELECT_PROGRAM' | translate }}</option>
            <option>BWL</option>
            <option>WINF</option>
            <option>WING</option>
            <option>AINF</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="year" class="col-sm-2 control-label">{{ 'YEAR' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="centuria.year" class="form-control" id="year" min="2010" max="2100"/>
    </div>
</div>

<div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">{{ 'LETTER' | translate }}</label>

    <div class="col-sm-10">
        <input type="text" ng-model="centuria.letter" class="form-control" id="lastName" required/>
    </div>
</div>

<div class="form-group">
    <label for="nbrOfStudents" class="col-sm-2 control-label">{{ 'NBR_STUDENTS' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="centuria.nbrOfStudents" class="form-control" id="nbrOfStudents" min="1"
               max="999"/>
    </div>
</div>

<div class="form-group">
    <label for="changeTime" class="col-sm-2 control-label">{{ 'CHANGE_TIME_OPTIONAL' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="centuria.changeTime" class="form-control" id="changeTime" min="0"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <a href="#/centurias" class="btn btn-default">{{ 'CANCEL' | translate }}</a>
    </div>
</div>
