<section>
    <h2>{{ 'COURSES' | translate }}</h2>

    <hr>

    <div class="btn-toolbar" role="toolbar">
        <a href="#/courses/create" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>{{ 'ADD_COURSE' | translate }}</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>{{ 'COURSE_NAME' | translate }}</th>
            <th>{{ 'COURSE_TYPE' | translate }}</th>
            <th>{{ 'TIMETABLE' | translate }}</th>
        </tr>
        <tr ng-repeat="course in model.courses | orderBy:'[type, name]'">
            <td>{{course.name}}</td>
            <td>{{course.type | translate }}</td>
            <td ng-if="hideButtons != true">
                <a class="btn btn-default btn-xs" ng-href="#/courses/{{course.id}}">
                    <span class="glyphicon glyphicon-info-sign"></span> {{ 'SHOW' | translate }}
                </a>
            </td>
        </tr>
    </table>
</section>