<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Nunmber of students</th>
        <th ng-if="hideButtons != true">Schedule</th>
    </tr>
    <tr ng-repeat="centuria in centurias | orderBy:'[-year, -programm, letter]'">
        <td>
            <a ng-href="#/centurias/{{centuria.id}}">{{centuria.readableString}}</a>
        </td>
        <td>{{centuria.nbrOfStudents}}</td>
        <td ng-if="hideButtons != true">
            <a class="btn btn-default btn-xs" ng-href="#/centurias/{{centuria.id}}">
                <span class="glyphicon glyphicon-info-sign"></span> Show
            </a>
            <a class="btn btn-default btn-xs" ng-href="rest/centurias/{{centuria.id}}/schedule.pdf" target="_blank">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </a>
        </td>
    </tr>
</table>