<div class="form-group">
    <label for="title" class="col-sm-2 control-label">{{ 'TITLE' | translate}}</label>

    <div class="col-sm-10">
        <input type="text" ng-model="model.tutor.title" class="form-control"
               id="title" name="title"
               pattern="^$|[A-Z][. 'a-zA-Z0-9öäüÖÄÜ-]*" autofocus/>
        <span ng-show="tutorForm.title.$dirty && tutorForm.title.$error.pattern">
            {{ 'ERROR_PATTERN_NAME' | translate }}
        </span>
    </div>
</div>

<div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">{{ 'FIRST_NAME' | translate}}</label>

    <div class="col-sm-10">
        <input type="text" ng-model="model.tutor.firstName" class="form-control"
               id="firstName" name="firstName"
               pattern="[A-Z][. 'a-zA-Z0-9öäüÖÄÜ-]*" required/>
        <span ng-show="tutorForm.firstName.$touched && tutorForm.firstName.$error.required">
            {{ 'ERROR_REQUIRED' | translate }}
        </span>
        <span ng-show="tutorForm.firstName.$dirty && tutorForm.firstName.$error.pattern">
            {{ 'ERROR_PATTERN_NAME' | translate }}
        </span>
    </div>
</div>

<div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">{{ 'LAST_NAME' | translate}}</label>

    <div class="col-sm-10">
        <input type="text" ng-model="model.tutor.lastName" class="form-control"
               id="lastName" name="lastName"
               pattern="[A-Z][. 'a-zA-Z0-9öäüÖÄÜ-]*" required/>
        <span ng-show="tutorForm.lastName.$touched && tutorForm.lastName.$error.required">
            {{ 'ERROR_REQUIRED' | translate }}
        </span>
        <span ng-show="tutorForm.lastName.$dirty && tutorForm.lastName.$error.pattern">
            {{ 'ERROR_PATTERN_NAME' | translate }}
        </span>

    </div>
</div>


<div class="form-group">
    <label for="changeTime" class="col-sm-2 control-label">{{ 'CHANGE_TIME' | translate}}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="model.tutor.changeTime" class="form-control"
               id="changeTime" name="changeTime"
               min="0" max="300" step="1"/>
        <span ng-show="tutorForm.changeTime.$dirty && (tutorForm.changeTime.$error.min || tutorForm.changeTime.$error.max)">
			 {{ 'ERROR_OUT_OF_BOUNDS' | translate:'{min: "1", max: "300"}' }}
		</span>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" ng-disabled="tutorForm.$invalid"/>
        <a href="#/tutors" class="btn btn-default">{{ 'CANCEL' | translate}}</a>
    </div>
</div>
