<section>
    <h2>{{ 'CREATE_NEW_TUTOR' | translate }}</h2>
    <hr>

    <div ng-if="entitySuccesfullyCreated" class="alert alert-success" role="alert">
        <p>{{ 'TUTOR_CREATED' | translate }} <a ng-href="#/tutors/{{messageData.id}}" class="alert-link">{{messageData.readableString}}</a>
        </p>
    </div>
    <div ng-if="entitySuccesfullyCreated == false" class="alert alert-danger" role="alert">
        <p>{{messageData}}</p>
    </div>

    <form class="form-horizontal" role="form" ng-submit="addTutor()" novalidate>
        <div ng-include="'js/tutor/create-tutor/create-tutor-form-template.html'"></div>
    </form>
</section>
