<section>
    <h2>{{ 'EDIT_EVENT_OF_COURSE' | translate }} {{model.event.course.name}}</h2>
    <hr>


    <form class="form-horizontal" role="form" ng-submit="editEventCtrl.updateEvent()" novalidate>
        <div ng-if="formState == 1"
             ng-include="'js/event/edit-event/edit-event-form-step1-template.html'"></div>
        <div ng-if="formState == 2"
             ng-include="'js/event/edit-event/edit-event-form-step2-template.html'"></div>
    </form>
</section>

<hr>
<pre>{{model | json }}</pre>
<hr>
<pre>{{formModel | json }}</pre>