<!-- Success or error message -->
<div ng-if="entitySuccesfullyUpdate" class="alert alert-success" role="alert">
    <p>{{ 'EVENT_UPDATE_SUCCESS' | translate }}</p>
</div>

<div ng-if="entitySuccesfullyUpdate == false" class="alert alert-danger" role="alert">
    <p>{{ 'EVENT_UPDATE_FAILURE' | translate }} {{ messageData.localizableMessage | translate }}</p>

    <p>{{ messageData.message }}</p>
</div>


<div class="form-group">
    <div class="col-sm-12">
        <a ng-href="#/courses/{{model.event.course.id}}" class="btn btn-default">{{ 'BACK_TO_COURSE' | translate }}</a>
    </div>
</div>

