<room-filter filter="filter"></room-filter>

<table class="table table-bordered">
    <tr>
        <th>{{ 'DATE' | translate }}</th>
        <th>{{ 'BEGIN' | translate }}</th>
        <th>{{ 'END' | translate }}</th>
        <th>{{ 'AVAILABLE_ROOMS' | translate }}</th>
        <th>{{ 'ACTIONS' | translate }}</th>
    </tr>
    <tr ng-repeat="event in formModel.eventsForRoomSelection">
        <td>
            {{event.begin | date : 'dd.MM.yy'}}
        </td>
        <td>
            {{event.begin | date : 'HH:mm'}}
        </td>
        <td>
            {{event.end | date : 'HH:mm'}}
        </td>
        <td>
            <span ng-if="event.availableRooms.length == 0 && event.availableRooms.$resolved == true">{{ 'NO_SUFF_LARGE_ROOM' | translate }},</span>

            <div class="btn-toolbar">
                <label ng-attr-for="event{{event.id}}-room{{room.id}}" class="btn btn-default"
                       ng-repeat="room in event.availableRooms | filter:filter">
                    <input type="checkbox" ng-model="room.selected" ng-attr-id="event{{event.id}}-room{{room.id}}">
                    {{room.readableString}}
                </label>
            </div>
        </td>
        <td>
            <span class="glyphicon glyphicon-trash"
                  ng-click="createCourseEventsCtrl.removeEventForRoomSelection($index)"></span>
        </td>
    </tr>
</table>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <button ng-click="createCourseEventsCtrl.goBackToStep(1)" class="btn btn-default">{{ 'BACK' | translate }}</button>
        <a href="#/courses/{{model.course.id}}" class="btn btn-default">{{ 'CANCEL' | translate }}</a>
    </div>
</div>