<section>
    <h2>{{ 'CREATE_NEW_EVENT_FOR_COURSE' | translate }} {{model.course.name}}</h2>
    <hr>

    <form class="form-horizontal" role="form" ng-submit="createCourseEventsCtrl.addEvents()" novalidate>
        <div ng-if="formState == 1"
             ng-include="'js/event/create-course-events/create-course-events-form-step1-template.html'"></div>
        <div ng-if="formState == 2"
             ng-include="'js/event/create-course-events/create-course-events-form-step2-template.html'"></div>
        <div ng-if="formState == 3"
             ng-include="'js/event/create-course-events/create-course-events-form-step3-template.html'"></div>
    </form>
</section>


<!--
<hr>
<p>formState:</p>
<p>{{formState}}</p>
<hr>
<p>events:</p>
<pre>{{model.events | json}}</pre>
-->


