<!-- User selectes base date and number of repetitions -->

<div class="form-group">
    <label for="date" class="col-sm-2 control-label">{{ 'BEGIN' | translate }}</label>

    <div class="col-sm-10">
        <input type="date" ng-model="formModel.baseDate.date" class="form-control" id="date"
               autofocus>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{ 'BEGIN' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="formModel.baseDate.begin.hours" id="beginHours"
               class="form-control time-input"
               min="0" max="23"> :
        <input type="number" ng-model="formModel.baseDate.begin.minutes" id="beginMinutes"
               class="form-control time-input"
               min="0" max="59">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{ 'END' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="formModel.baseDate.end.hours" id="endHours"
               class="form-control time-input"
               min="0" max="23"> :
        <input type="number" ng-model="formModel.baseDate.end.minutes" id="endMinutes"
               class="form-control time-input"
               min="0" max="59">
    </div>
</div>

<div class="form-group">
    <label for="repetition" class="col-sm-2 control-label">{{ 'REPEAT_FOR_WEEKS' | translate }}</label>

    <div class="col-sm-10">
        <input type="number" ng-model="formModel.baseDate.repeatForWeeks" class="form-control"
               id="repetition"
               min="1" max="100"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="createCourseEventsCtrl.proceedToRoomSelection()" class="btn btn-primary">{{ 'NEXT' | translate }}</button>
        <a href="#/courses/{{model.course.id}}" class="btn btn-default">{{ 'CANCEL' | translate }}</a>
    </div>
</div>
