<div class="alert alert-danger" role="alert">
    <p>{{ 'COURSE_EVENTS_CREATION_FAILURE' | translate }} {{ messageData.localizableMessage | translate }}</p>

    <p>{{ messageData.message }}</p>
</div>


<div class="form-group">
    <div class="col-sm-12">
        <button class="btn btn-primary" ng-click="createCourseEventsCtrl.forceAddEvents()">
            {{ 'FORCE_CREATE' | translate }}
        </button>
        <button ng-click="createCourseEventsCtrl.goBackToStep(2)" class="btn btn-default">{{ 'BACK' | translate }}
        </button>
    </div>
</div>
