<section>
    <h2>Create a new course</h2>
    <hr>

    <div ng-if="entitySuccesfullyCreated" class="alert alert-success" role="alert">
        <p>The course <a ng-href="#/courses/{{messageData.id}}" class="alert-link">{{messageData.name}}</a> was
            created.</p>
    </div>
    <div ng-if="entitySuccesfullyCreated == false" class="alert alert-danger" role="alert">
        <p>{{messageData}}</p>
    </div>

    <form class="form-horizontal" role="form" ng-submit="createCourseCtrl.addCourse()" novalidate>
        <div ng-include="'js/course/course-form-template.html'"></div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Save"/>
                <a href="#/courses" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</section>
