<section ng-if="model.tutors.length != 0">
    <h2>{{ 'CREATE_NEW_COURSE' | translate }}</h2>
    <hr>

    <div ng-if="entitySuccesfullyCreated" class="alert alert-success" role="alert">
        <p>{{ 'COURSE_CREATION_SUCCESS' | translate }} <a ng-href="#/courses/{{messageData.id}}" class="alert-link">{{messageData.name}}</a>
        </p>
    </div>
    <div ng-if="entitySuccesfullyCreated == false" class="alert alert-danger" role="alert">
        <p>{{ 'COURSE_CREATION_FAILURE' | translate }} {{ messageData.localizableMessage | translate }}</p>
        <p>{{ messageData.message }}</p>
    </div>

    <form class="form-horizontal" role="form" ng-submit="createCourseCtrl.addCourse()"
          name="courseForm" novalidate>
        <div ng-include="'js/course/course-form-template.html'"></div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Save" ng-disabled="courseForm.$invalid"/>
                <a href="#/courses" class="btn btn-default">{{ 'CANCEL' | translate }}</a>
            </div>
        </div>
    </form>
</section>

<!-- Show error message, if no tutor has been added, since at least one tutor is required to create a course -->
<section ng-if="model.tutors.length == 0">
    <div class="alert alert-danger" role="alert">
        <p>{{ 'TUTOR_REQUIRED' | translate }}</p>
    </div>
    <div class="btn-toolbar" role="toolbar">
        <a href="#/tutors/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'ADD_TUTOR' | translate }}
        </a>
    </div>
</section>

<pre>
    {{ model.centurias | json }}
</pre>
