<table class="table table-bordered">
    <tr>
        <th>Begin</th>
        <th>End</th>
        <th>Available Rooms</th>
    </tr>
    <tr ng-repeat="event in model.eventsForRoomSelection">
        <td>
            {{event.begin | date : 'd.M.yy HH:mm'}}
        </td>
        <td>
            {{event.end | date : 'd.M.yy HH:mm'}}
        </td>
        <td>
            <span ng-if="event.availableRooms.length == 0">No sufficiently large rooms are available,</span>

            <div class="btn-toolbar">
                <label ng-attr-for="event{{event.id}}-room{{room.id}}" class="btn btn-default"
                       ng-repeat="room in event.availableRooms">
                    <input type="checkbox" ng-model="room.selected" ng-attr-id="event{{event.id}}-room{{room.id}}">
                    {{room.readableString}}
                </label>

                <div>
        </td>
    </tr>
</table>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <button ng-click="createCourseCtrl.goBackToStep(2)" class="btn btn-default">Go back</button>
        <a href="#/courses" class="btn btn-default">Cancel</a>
    </div>
</div>