<!-- COURSE NAME -->
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>

    <div class="col-sm-10">
        <input type="text" ng-model="model.course.name" class="form-control" id="name" required autofocus/>
    </div>
</div>

<!-- COURSE TYPE -->
<div class="form-group">
    <label for="type" class="col-sm-2 control-label">Course type</label>

    <div class="col-sm-10">
        <select ng-model="model.course.type" placeholder="Choose a type" class="form-control" id="type">
            <option value="" disabled selected>Select a course type</option>
            <option>COURSE</option>
            <option>EXAM</option>
            <option>SEMINAR</option>
            <option>WPK</option>
        </select>
    </div>
</div>

<!-- TUTOR -->
<div class="form-group">
    <label for="tutor" class="col-sm-2 control-label">Tutor</label>

    <div class="col-sm-10">
        <select ng-model="model.course.tutor" class="form-control" id="tutor"
                ng-options="tutor.readableString for tutor in model.tutors track by tutor.id">
        </select>
    </div>
</div>

<div class="form-group"><!-- Only show if course type not seminar -->
    <label class="col-sm-2 control-label">Participants (optional)</label>

    <div class="col-sm-10">
        <div ng-if="model.course.type == 'SEMINAR'"><p>Seminars do not have participants.</p></div>
        <div class="btn-toolbar">
            <label for="{{centuria.readableString}}"
                   class="btn btn-default"
                   ng-repeat="centuria in model.centurias | orderBy:'[-year, -programm, letter]'"
                   ng-disabled="model.course.type == 'SEMINAR'">
                <input
                        type="checkbox" ng-model="centuria.selected" id="{{centuria.readableString}}"
                        ng-disabled="model.course.type == 'SEMINAR'"> {{centuria.readableString}}
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <button ng-click="createCourseCtrl.proceedToEventSelection()" class="btn btn-primary">Next</button>
        <a href="#/courses" class="btn btn-default">Cancel</a>
    </div>
</div>

<div ng-if="entitySuccesfullyCreated" class="alert alert-success" role="alert">
    <p>The course <a ng-href="#/courses/{{messageData.id}}" class="alert-link">{{messageData.name}}</a> was
        created.</p>
</div>
<div ng-if="entitySuccesfullyCreated == false" class="alert alert-danger" role="alert">
    <p>{{messageData}}</p>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="#/courses/" class="btn btn-default">Add</a>
    </div>
</div>

<hr>
<hr>

<p>Posted to rest/courses</p>
<p>
<pre>{{model.course | json }}</pre>
</p>
